.homepage {
  @keyframes upAndDown {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-15px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .banner {
    margin: 0;
    background-image: url("../images/banner/banner.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;

    .wrapper {
      padding-top: 30vh;
      display: flex;
      align-items: center;
      justify-content: center;

      .logo {
        width: 85%;
        height: auto;
      }

      .redes-sociais {
        display: none;
      }

      .seta {
        position: absolute;
        bottom: 1em;
        animation-name: upAndDown;
        animation-duration: 3s;
        animation-iteration-count: infinite;

        img {
          height: 3em;
        }
      }
    }
  }

  .sobre {
    position: relative;

    .container {
      .sobre-image {
        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        height: 50vh;

        object-fit: cover;
        object-position: top center;
        margin: 0;
      }

      .texto {
        padding-top: 50vh;

        .default-btn {
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }

  .atuacao {
    padding-bottom: 2em;
    background-color: $color-grey;

    .itens {
      margin-top: 5em;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .item {
        margin-bottom: 4em;
        width: 80%;
        text-align: center;

        .item-logo {
          height: 7em;
          margin-bottom: 1em;
        }

        h4 {
          font-weight: bold;
          margin-bottom: 1em;
        }

        a {
          color: $color-blue;

          img {
            width: 0.5em;
            margin-left: 0.2em;
            transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
            transition-property: margin-left;
          }

          &:hover {
            img {
              margin-left: .5em;
            }
          }
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .contato {
    padding-bottom: 2em;
    background-color: $color-dark-grey;

    p {
      margin-top: 2em;
    }

    .wrapper {
      .redes-sociais {
        margin-top: 3em;
        display: flex;
        flex-direction: column;

        a {
          max-width: 100%;
          width: fit-content;
          text-overflow: ellipsis;
          overflow: hidden;
          margin-bottom: 1em;

          &:hover,
          &:active {
            color: $color-blue;
          }

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }

      form {
        margin-top: 3em;
        width: 100%;

        input,
        textarea {
          width: 100%;
          margin-bottom: 1em;
          background-color: transparent;
          border: 1px solid $color-green;
          padding: .2em .4em;

          &::placeholder {
            color: $color-blue;
          }
        }

        textarea {
          height: 10em;
        }

        button {
          margin: 0;
          margin-left: auto;
          display: block;
          width: fit-content;
          border: none;
        }
      }
    }
  }

  .section-title {
    padding-top: 2em;
  }
}

/*
=====================================================
Medium devices (desktops, 768px and up)
Read more: https://getbootstrap.com/docs/5.0/layout/breakpoints/
=====================================================
*/
@include media-breakpoint-up(md) {
  .homepage {
    .banner {
      height: 100vh;

      .wrapper {
        .logo {
          width: 70%;
        }
      }
    }

    .sobre {
      position: relative;

      .container {
        .sobre-image {
          height: 70vh;
        }
        .texto {
          padding-top: 72vh;
  
          .section-title {
            margin-bottom: 1.5em;
          }
  
          p {
            margin-bottom: 1.5em;
          }
        }
      }

    }

    .atuacao {
      .itens {
        flex-direction: row;
        flex-wrap: wrap;

        .item {
          width: 40vw;
          padding: 0 1em;
          margin-bottom: 4em;

          &:last-of-type {
            margin-bottom: 4em;
          }
        }
      }
    }
  }
}

/*
=====================================================
Large devices (desktops, 992px and up)
Read more: https://getbootstrap.com/docs/5.0/layout/breakpoints/
=====================================================
*/
@include media-breakpoint-up(lg) {
  .homepage {
    .banner {
      height: 100vh;

      .wrapper .logo {
        width: 50%;
      }

      .redes-sociais {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 2em;

        a {
          margin: 3em 0;

          img {
            height: 1.5em;
          }
        }
      }
    }

    .sobre {
      position: relative;

      .container {
        display: flex;
        flex-direction: row-reverse;

        .sobre-image {
          position: absolute;
          left: unset;
          right: 0;
          height: 100%;
          width: 45vw;
          object-fit: cover;
        }

        .texto {
          padding-top: 0;
          padding-bottom: 10vh;
          padding-right: 45vw;
          .default-btn{
            margin-left: 0;
          }
        }
      }
    }

    .atuacao {
      .itens {
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;

        .item {
          width: 30vw;
          min-height: 17em;
          max-height: 20em;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;

          .item-logo {
            height: 5em;
          }
        }
      }
    }

    .contato {
      p {
        margin-top: 3em;
      }

      .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .redes-sociais {
          width: 40%;
          margin-right: 20%;
        }
      }
    }
  }
}

/*
=====================================================
Extra Large devices (desktops, 1200px and up)
Read more: https://getbootstrap.com/docs/5.0/layout/breakpoints/
=====================================================
*/
@include media-breakpoint-up(xl) {}

/*
=====================================================
Extra Extra Large devices (desktops, 1400px and up)
Read more: https://getbootstrap.com/docs/5.0/layout/breakpoints/
=====================================================
*/
@include media-breakpoint-up(xxl) {
  .homepage {
    .atuacao {
      .itens .item {
        p {
          width: 70%;
        }
      }
    }
  }
}