.contato {
  padding-bottom: 2em;
  background-color: $color-dark-grey;

  p {
    margin-top: 2em;
  }
  .section-title{
    padding-top: 3em;
  }
  .wrapper {
    .redes-sociais {
      margin-top: 3em;
      display: flex;
      flex-direction: column;

      a {
        max-width: 100%;
        width: fit-content;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 1em;

        &:hover,
        &:active {
          color: $color-blue;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    form {
      margin-top: 3em;
      width: 100%;

      input,
      textarea {
        width: 100%;
        margin-bottom: 1em;
        background-color: transparent;
        border: 1px solid $color-green;
        padding: .2em .4em;

        &::placeholder {
          color: $color-blue;
        }
      }

      textarea {
        height: 10em;
      }

      button {
        margin: 0;
        margin-left: auto;
        display: block;
        width: fit-content;
        border: none;
      }
    }
  }
}
footer{
  background-color: $color-blue;
  border-top: 1px solid #e5e5e5;
  font-size: 0.8rem;
  color: $color-white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
  a:hover{
    color: $color-green;
  }
}
/*
=====================================================
Medium devices (desktops, 768px and up)
Read more: https://getbootstrap.com/docs/5.0/layout/breakpoints/
=====================================================
*/
@include media-breakpoint-up(md) {
  footer{
    padding: 1em 3em;
  }
}

/*
=====================================================
Large devices (desktops, 992px and up)
Read more: https://getbootstrap.com/docs/5.0/layout/breakpoints/
=====================================================
*/
@include media-breakpoint-up(lg) {
  .contato {
    p {
      margin-top: 3em;
    }

    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .redes-sociais {
        width: 40%;
        margin-right: 20%;
      }
    }
  }
  footer{
    padding: 2em 9em;
  }
}

/*
=====================================================
Extra Extra Large devices (desktops, 1400px and up)
Read more: https://getbootstrap.com/docs/5.0/layout/breakpoints/
=====================================================
*/
@include media-breakpoint-up(xxl) {
  footer{
    padding: 2em 20em;
  }
}